*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    margin-top: 20px;

    
}

.text-center{
    text-align: center;
    
}

.c-1{
    color: rgb(246, 56, 170);
}

.dT-10{
    margin-top: 30px;
}

.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    gap: 35px;

    
    
}

.c-skyblu{
    color: rgb(85, 183, 225);
}

.flex-1{
    display: flex;
    margin-right: 20px;
    margin: 0;
    padding: 0;

    
}

.bg-b{
    background-color: black;
    padding-bottom: 0;
    padding-top: 0;
}

.tc-w{
    color: white;
}

.padd-1{
    padding-left: 10px;
    padding-right: 10px;

}

.logo{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

.ds{
    font-size: 70%;
    margin: 0;
    padding-bottom: 5px;

    
}

